@font-face {
  font-family: Ubuntu-Bold;
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: Ubuntu-Medium;
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: Ubuntu-Regular;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}
body {
  background-color: hsl(229, 24%, 87%);
}
.card-container {
  padding: 250px;
  background-color: hsl(229, 24%, 87%);
}

.main-container {
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  border-radius: 1em;
}
.personal-info-container {
  background-color: white;
  flex: 1;
  padding-top: 30px;
  padding-inline: 100px;
}

.personal-info-text {
}

.image-container {
  position: relative;
  background-color: antiquewhite;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.text-overlay {
  position: absolute;
  color: white;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: block; /* Hace que el label ocupe una línea completa */
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
}

input {
  width: 90%;
  height: 45px;
  border-radius: 0.5em;
  border: 2px solid hsl(229, 24%, 87%);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: hsl(213, 96%, 18%);
  color: white;
}

#personal-info-button {
  margin-top: 70px;
  margin-left: 370px;
  position: relative;
  border-radius: 0.5em;
}

.number {
  font-weight: medium;
  border: 2px solid white;
  border-radius: 50%;
  width: fit-content;
  color: white;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-container {
  display: flex;
  flex-direction: row;
}
h2 {
  font-family: "Ubuntu-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: hsl(231, 11%, 63%);
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: "Ubuntu-Regular", Arial, Helvetica, sans-serif;
}

#option-container {
  display: flex;
  justify-content: space-between;
}

.option {
  height: 150px;
  border-radius: 1em;
  width: 150px;
  border: 2px solid #000;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 50px;
  margin-top: 10px;
}

.advanced-option {
  height: 100px;
  width: 100px;
  border: 2px solid #000;
}

.pro-option {
  height: 100px;
  width: 100px;
  border: 2px solid #000;
}

#back-button-step2 {
  margin-top: 130px;
  border-radius: 0.5em;
}

.bold-text {
  font-family: "Ubuntu-Bold", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  position: relative;
  align-self: center;
  margin-left: 0px;
}

.price-text {
  margin-top: -10px;
}

#selectPlan-button {
  margin-top: -40px;
  margin-left: 370px;
  position: relative;
  border-radius: 0.5em;
}
